@import url(../styles.css);
@import url(../avatar/avatar.css);

html {
    font-size: 62.5%;
}

.icon {
    font-size: 4rem;
    margin: 1rem;
}

.badge__icons {
    position: relative;
    margin: 1rem;
}
.badge__number {
    font-size: 1.2rem;
    position: absolute;
    right: 0.1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    text-align: center;
}

.badge__primary {
    background-color: var(--primary);
    color: var(--white);
}

.badge__secondary {
    background-color: var(--secondary);
    color: var(--white);
}
.badge__error {
    background-color: var(--error);
    color: var(--white);
}