:root {
    --danger: #ff002b;
    --primary: #3a86ff;
    --success: #3bc14a;
    --offline: #c9c9c9;
    --secondary: #ff006e;
    --warning: #ffbe0b;
    --dark: #001219;
    --info: #f7d1cd;
    --white: #f4f5f6;

    --bg-white: #eeeee4;
    --primary-hover: #023e8a;
    --danger-hover: #a4161a;
    --secondary-hover: #dc143c;
    --warning-hover: #f5b700;
    --success-hover: #008000;
}