<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Rohit Prasad" />
    <meta name="description" content="input form" />
    <title>Input</title>
    <link rel="stylesheet" href="./input.css" />
  </head>
  <body>
    <div class="form__group">
      <label for="username">Email</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your email"
        class="form__group__input"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        class="form__group__input"
      />
      <button class="btn btn__secondary login">
        <i class="fas fa-sign-in-alt login__icon"></i>Login
      </button>
    </div>

    <div class="form__group">
      <label for="username">Email</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your email"
        class="form__group__input"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        class="form__group__input"
      />

      <div class="msg login__error">
        <i class="fas fa-exclamation-triangle"></i> Enter correct Email and
        Password
      </div>
      <button class="btn btn__secondary login">
        <i class="fas fa-sign-in-alt login__icon"></i>Login
      </button>
    </div>

    <div class="form__group">
      <label for="username">Email</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your email"
        class="form__group__input"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        class="form__group__input"
      />

      <div class="msg login__success">
        <i class="fas fa-check"></i> login successful
      </div>
      <button class="btn btn__secondary login">
        <i class="fas fa-sign-in-alt login__icon"></i>Login
      </button>
    </div>
    <div class="form__group">
      <label for="username">Email</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your email"
        class="form__group__input"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        class="form__group__input"
      />
      <label for="address">Address</label>
      <textarea
        rows="5"
        cols="10"
        placeholder="Enter your address"
        id="address"
        name="address"
        placeholder="Enter your address"
        class="form__group__textbox"
      ></textarea>
      <button class="btn btn__secondary login">
        <i class="fas fa-sign-in-alt login__icon"></i>Login
      </button>
    </div>
  </body>
</html>
