@import url(./reset.css);
@import url(../buttons/buttons.css);
@import url(../text\ utilities/text.css);
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--white);
    border-bottom-style: outset;
}

.navbar__header {
    font-size: 3rem;
}

.navbar__list {
    list-style: none;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    padding: 1rem;
}

.navbar__list__items {
    cursor: pointer;
    font-size: 1.8rem;
}

.brand {
    min-width: 30rem;
    height: max-content;
    text-align: center;
    margin: 25rem auto;
    padding: 2rem;
}

.brand__name {
    text-align: center;
    font-size: 5rem;
}

.brand__details {
    margin-top: 3rem;
    font-size: 2.5rem;
}

.brand__navigation {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    width: 15rem;
}

.btn__dark__outlined:hover {
    background-color: var(--bg-white);
    color: var(--dark);
}

@media only screen and (max-width: 400px) {
    .navbar__list__items {
        font-size: 1.2em;
    }
}