<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Rohit Prasad" />
    <meta name="description" content="avatar" />
    <title>Avatar</title>
    <link rel="stylesheet" type="text/css" href="./avatar.css" />
  </head>

  <body>
    <h1>Avatars of different sizes</h1>
    <div class="container">
      <div class="avatar avatar__2xs">
        <img src="./src/avatar-1.jpg" alt="avatar" />
      </div>
      <div class="avatar avatar__xs">
        <img src="./src/avatar-2.jpg" alt="avatar" />
      </div>
      <div class="avatar avatar__sm">
        <img src="./src/avatar-3.jpg" alt="avatar" />
      </div>
      <div class="avatar avatar__md">
        <img src="./src/avatar-4.jpg" alt="avatar" />
      </div>

      <div class="avatar avatar__lg">
        <img src="./src/avatar-5.jpg" alt="avatar" />
      </div>
      <div class="avatar avatar__xl">
        <img src="./src/avatar-6.jpg" alt="avatar" />
      </div>
      <div class="avatar avatar__2xl">
        <img src="./src/avatar-7.jpg" alt="avatar" />
      </div>
    </div>

    <h1>Group of avatars</h1>
    <div class="avatar__group container">
      <div class="avatar">
        <img src="./src/avatar-1.jpg" alt="avatar" />
      </div>
      <div class="avatar">
        <img src="./src/avatar-2.jpg" alt="avatar" />
      </div>
      <div class="avatar">
        <img src="./src/avatar-3.jpg" alt="avatar" />
      </div>
      <div class="avatar">
        <img src="./src/avatar-4.jpg" alt="avatar" />
      </div>
      <div class="avatar__extra">+10</div>
    </div>

    <h1>Avatar with badge</h1>
    <div class="container">
      <div class="avatar__with__badge">
        <div class="avatar">
          <img src="https://img.icons8.com/ios-glyphs/90/000000/user--v1.png" />
        </div>
        <span class="avatar__default avatar__with__badge__active"></span>
      </div>

      <div class="avatar__with__badge">
        <div class="avatar">
          <img src="https://img.icons8.com/ios-glyphs/90/000000/user--v1.png" />
        </div>
        <span class="avatar__default avatar__with__badge__danger"></span>
      </div>
      <div class="avatar__with__badge">
        <div class="avatar">
          <img src="https://img.icons8.com/ios-glyphs/90/000000/user--v1.png" />
        </div>
        <span class="avatar__default avatar__with__badge__offline"></span>
      </div>
      <div class="avatar__with__badge">
        <div class="avatar">
          <img src="https://img.icons8.com/ios-glyphs/90/000000/user--v1.png" />
        </div>
        <span class="avatar__default avatar__with__badge__primary"></span>
      </div>
    </div>
  </body>
</html>
