.list {
    border: 2px solid var(--gray);
    display: inline-block;
    margin: 2rem;
    padding: 1rem;
}

.list__heading {
    font-size: 2.5rem;
    padding: 1rem;
}

.list>li {
    font-size: 1.6rem;
    list-style: none;
    padding: 1rem;
}

.list__spaced>li {
    margin: 1rem 0;
}

.list__stacked>li {
    border: 1px solid var(--gray);
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.list__stacked>li>img {
    width: 3rem;
    height: 3rem;
}