<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Rohit Prasad" />
    <meta name="description" content="Rating" />
    <title>Rating</title>
    <link rel="stylesheet" href="./rating.css" />
  </head>
  <body>
    <div class="rating">
      <i class="far fa-star star__ratings"></i>
      <i class="far fa-star star__ratings"></i>
      <i class="far fa-star star__ratings"></i>
      <i class="far fa-star star__ratings"></i>
      <i class="far fa-star star__ratings"></i>
      <div class="rating__output text__md font__bold"></div>
    </div>

    <script src="./rating.js"></script>
  </body>
</html>
