@import url(../styles.css);
@import url(../utilities/reset.css);


.avatar>img {
    height: 100%;
    width: 100%;
}

.container {
    background-color: var(--white);
    max-width: 90%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: 1px solid #312f2f;
    cursor: pointer;
}

.avatar__2xs {
    width: 2.5rem;
    height: 2.5rem;
}

.avatar__xs {
    width: 3rem;
    height: 3rem;
}

.avatar__sm {
    width: 4rem;
    height: 4rem;
}

.avatar__md {
    width: 5rem;
    height: 5rem;
}

.avatar__lg {
    width: 6rem;
    height: 6rem;
}

.avatar__xl {
    width: 7.5rem;
    height: 7.5rem;
}

.avatar__2xl {
    width: 10rem;
    height: 10rem;
}

.avatar__group {
    display: flex;
    padding: 1rem 2rem;
}

.avatar__group .avatar {
    margin-left: -2rem;
}

.avatar__extra {
    margin: 5px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color: #312f2f;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-left: -1.5rem;
}

.avatar__with__badge {
    position: relative;
    margin: 1rem;
}

.avatar__default {
    position: absolute;
    border: 2px solid var(--white);
    height: 2rem;
    width: 2rem;
    bottom: 1rem;
    right: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar__with__badge__active {
    background-color: var(--success);
}

.avatar__with__badge__error {
    background-color: var(--error);
}

.avatar__with__badge__primary {
    background-color: var(--primary);
}

.avatar__with__badge__offline {
    background-color: var(--offline);
}