@import url(../styles.css);
@import url(../utilities/reset.css);

.alert {
  background-color: var(--pure-white);
  width: 70%;
  padding: 0.5rem 2rem;
  display: flex;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 2rem auto;
  border: none;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  font-size: 2rem;
}

.alert__message {
  padding: 1rem;
}

.alert__close {
  cursor: pointer;
}

.alert__primary {
  background-color: var(--primary);
  color: var(--white);
}

.alert__primary__outlined {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.alert__secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.alert__secondary__outlined {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.alert__success {
  background-color: var(--success);
  color: var(--white);
}

.alert__success__outlined {
  border: 2px solid var(--success);
  color: var(--success);
}

.alert__error {
  background-color: var(--error);
  color: var(--white);
}

.alert__error__outlined {
  border: 2px solid var(--error);
  color: var(--error);
}
.alert__warning {
  background-color: var(--warning);
  color: var(--dark);
}
.alert__warning__outlined {
  border: 2px solid var(--warning);
  color: var(--warning);
}
