@import url(../styles.css);

html {
    font-size: 62.5%;
}
.responsive__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.round__img {
    width: 15rem;
    height: 15rem;
  border-radius: 50%;
}

.square__img {
    width: 15rem;
    height: 15rem;
    border-radius: 10%;
}